/* index.html STYLE */

body {
    background-image: url('../../images/index/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper {
        height:100vh;
        .block {
            height: 100vh;
            .content {
                width: 600px;
                height: 330px;
                background-color: rgba(255, 255, 255, .2);
                border-radius: 5px;
                img {
                    width: 80%;
                    display: block;
                    margin-left: auto;
                    margin-right:auto;
                }
                .now {
                    color: #ffffff;
                    text-align: center;
                    font-size: 1.2em;
                    font-weight: 400;
                }
            }
        }
    }
}