/* index.html STYLE */
/* line 3, ../../scss/twbox/index.scss */
body {
  background-image: url("../../images/index/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 8, ../../scss/twbox/index.scss */
body .wrapper {
  height: 100vh;
}
/* line 10, ../../scss/twbox/index.scss */
body .wrapper .block {
  height: 100vh;
}
/* line 12, ../../scss/twbox/index.scss */
body .wrapper .block .content {
  width: 600px;
  height: 330px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
/* line 17, ../../scss/twbox/index.scss */
body .wrapper .block .content img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 23, ../../scss/twbox/index.scss */
body .wrapper .block .content .now {
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
}
